body{
margin:0;
background:black;
color:white;
font-family:Arial;
overflow:hidden;
text-align:center;
}

/* canvas */
#stars{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

/* hide pages */
#mainPage,#giftPage,#cakePage{display:none;}
#finalPage{display:none;}

#startScreen{
margin-top:200px;
}

button{
padding:12px 25px;
background:#ff4da6;
border:none;
color:white;
border-radius:20px;
}

/* title */
.title{
color:#ff4da6;
text-shadow:0 0 25px #ff4da6;
}

/* slideshow */
.slideshow img{
width:90%;
max-width:350px;
border-radius:20px;
transition:all 1s ease;
}

.fade{
opacity:0;
filter:blur(8px);
}

#slideText{
opacity:0;
transition:1s;
font-size:20px;
color:#ff4da6;
max-width:90%;
margin:auto;
line-height:1.6;
}

/* gift */
.giftBox{
font-size:70px;
cursor:pointer;
margin-top:150px;
animation:bounce 1s infinite;
}

@keyframes bounce{
0%,100%{transform:translateY(0);}
50%{transform:translateY(-15px);}
}

/* cake */
#cakePage{
margin-top:150px;
font-size:35px;
}

/* FINAL */
#finalPage{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.finalTitle{
font-size:36px;
font-weight:bold;
text-shadow:0 0 25px #ff4da6;
margin-bottom:20px;
}

.finalMsg{
font-size:20px;
font-weight:bold;
line-height:1.8;
max-width:500px;
}

/* hearts */
.heart{
position:fixed;
top:-10px;
animation:fall linear forwards;
}

@keyframes fall{
to{transform:translateY(100vh);}
}

/* fireworks */
.firework{
position:fixed;
font-size:18px;
animation:explode 1s forwards;
}

@keyframes explode{
to{transform:scale(3); opacity:0;}
}
