body{

background:black;
color:white;
font-family:Arial;
text-align:center;
overflow:hidden;

}

#mainPage{

display:none;

}

#finalPage{

display:none;
margin-top:100px;
font-size:28px;

}

#startScreen{

margin-top:200px;

}

button{

padding:12px 25px;
font-size:18px;
background:#ff4da6;
color:white;
border:none;
border-radius:20px;
cursor:pointer;

}

.title{

color:#ff4da6;
text-shadow:0 0 25px #ff4da6;

}

.slideshow{

margin-top:40px;

}

.slideshow img{

width:350px;
border-radius:20px;
box-shadow:0 0 25px #ff4da6;
transition:1s;

}

#slideText{

margin-top:25px;
font-size:24px;

}

.heart{

position:fixed;
top:-10px;
font-size:20px;
animation:fall linear forwards;

}

@keyframes fall{

to{

transform:translateY(100vh);

}

}
