body{
background:black;
color:white;
text-align:center;
overflow:hidden;
font-family:Arial;
}

/* hide pages */
#mainPage,#giftPage,#cakePage,#finalPage{display:none;}

#startScreen{margin-top:200px;}

button{
padding:12px 25px;
background:#ff4da6;
border:none;
color:white;
border-radius:20px;
}

.title{
color:#ff4da6;
text-shadow:0 0 25px #ff4da6;
}

/* slideshow */
.slideshow img{
width:350px;
border-radius:20px;
animation:zoom 6s infinite;
}

@keyframes zoom{
0%{transform:scale(1);}
50%{transform:scale(1.1);}
100%{transform:scale(1);}
}

#slideText{
white-space:pre-line;
opacity:0;
transition:1s;
font-size:22px;
color:#ff4da6;
}

/* gift */
.giftBox{
font-size:80px;
cursor:pointer;
margin-top:200px;
animation:bounce 1s infinite;
}

@keyframes bounce{
0%,100%{transform:translateY(0);}
50%{transform:translateY(-20px);}
}

/* cake */
#cakePage{
margin-top:200px;
font-size:40px;
}

/* final */
.finalText{
font-size:40px;
color:#ff4da6;
animation:glow 1.5s infinite alternate;
}

@keyframes glow{
from{text-shadow:0 0 10px #ff4da6;}
to{text-shadow:0 0 30px #ff4da6;}
}

.finalSub{
white-space:pre-line;
}

/* hearts */
.heart{
position:fixed;
top:-10px;
animation:fall linear forwards;
}

@keyframes fall{
to{transform:translateY(100vh);}
}

/* fireworks */
.firework{
position:fixed;
font-size:20px;
animation:explode 1s forwards;
}

@keyframes explode{
to{
transform:scale(3);
opacity:0;
}
}
